.graphContainer {
	background-color: white;
	border-radius: 12px;
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
	padding-right: 1rem;
	/* padding-left: 0.6rem; */
}

.price {
	font-size: 12px;
	margin-bottom: 2rem;
	margin-left: 1rem;
}
