/* component container */
.yield-farming-container {
	padding-right: 2rem;
	font-size: 13px;
}

.yieldFarmingContainer {
	border-radius: 12px;
	box-shadow: 0px 5px 12px #f0f2f77c;
}

/* header cell */
/* body cell */
.yield-farming-table .table-row .table-body-cell,
.yield-farming-table .table-header .table-header-cell {
	margin: 0px 10px;
}

.yield-farming-table .table-body .table-row:nth-child(odd) {
	background-color: rgba(240, 242, 248, 0.5);
	border-radius: 4px;
}

/* breadcrums */
.yield-farming-container .breadcrums-container .breadcrum {
	color: #526daa;
	font-size: 14px;
	border-radius: 4px;
	background-color: rgba(82, 109, 170, 0.09);
}

.yield-farming-container .breadcrums-container .breadcrum .to-bottom-icon {
	width: 0;
	height: 0;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid #526daa;
	margin-left: 6px;
}

/* total value cell */
/* apy cell */
.yield-farming-table .table-body-cell .apy-cell,
.yield-farming-table .table-body-cell .totalValue-cell {
	width: fit-content;
}

.yield-farming-table .table-body-cell .apy-cell span,
.yield-farming-table .table-body-cell .totalValue-cell span {
	font-size: 12px;
	color: #949494;
}

/* reward type cell */
/* loss cell */
.yield-farming-table .table-body-cell .loss-cell,
.yield-farming-table .table-body-cell .rewardType-cell {
	width: fit-content;
	border-radius: 4px;
	padding: 0.25rem 0.5rem;
	background-color: #eff2f7;
	font-size: 14px;
}

/* logo styles */
.yield-farming-table .table-body-cell .cell-logo {
	transform: scale(0.85);
	margin-right: 4px;
}

@media (max-width: 768px) {
	.yield-farming-container {
		padding-right: 0;
	}

	.yield-farming-container .breadcrums-container .breadcrum {
		font-size: 9px;
	}
}
