.launch-pool-container {
	padding-left: 2rem;
	padding-top: 2rem;
	flex-grow: 100;
	overflow: hidden;
	background-color: #fafbfe;
}

/* @keyframes launch-pool-container-open {
	from {
		transform: translateX(0px);
		width: 100%;
	}
	to {
		transform: translateX(0px);
		width: 60%;
	}
}

@keyframes launch-pool-container-close {
	from {
		transform: translateX(0px);
		width: 60%;
	}
	to {
		transform: translateX(0);
		width: 100%;
	}
}

@keyframes dashboard-open2 {
	from {
		transform: translateX(0px);
		width: 72%;
	}
	to {
		transform: translateX(0px);
		width: 76%;
	}
}

@keyframes dashboard-close2 {
	from {
		transform: translateX(0px);
		width: 60%;
	}
	to {
		transform: translateX(0);
		width: 83%;
	}
}

.launch-pool-container-open {
	padding-left: 2rem;
	padding-top: 2rem;
	font-size: 14px;
	animation-name: dashboard-open;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	overflow: hidden;
}

.launch-pool-container-close {
	padding-left: 2rem;
	padding-top: 2rem;
	font-size: 14px;
	animation-name: dashboard-close;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	overflow: hidden;
}

.launch-pool-container-open2 {
	padding-left: 2rem;
	padding-top: 2rem;
	font-size: 14px;
	animation-name: dashboard-open2;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	overflow: hidden;
}

.launch-pool-container-close2 {
	padding-left: 2rem;
	padding-top: 2rem;
	font-size: 14px;
	animation-name: dashboard-close2;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	overflow: hidden;
} */

.cards-wrapper {
	margin-top: 1.8rem;
	background-color: #fafbfe;
}

.launch-pool-bluecard {
	background: #e4edff;
	border-radius: 12px;
	padding: 2rem;
	width: 367px;
	height: 371px;
	box-shadow: 0px 5px 12px #f0f2f77c;
}

.launch-pool-whitecard {
	background: white;
	border-radius: 12px;
	padding: 2rem;
	width: 367px;
	height: 371px;
	text-align: center;
	box-shadow: 0px 5px 12px #f0f2f77c;

	margin-left: 1.7rem;
}

.launch-pool-bluecard > p {
	margin-top: 1rem;
	margin-bottom: 1rem;
	line-height: 32px;
	color: #636e85;
}

.bluecard-head {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.bluecard-head-title {
	font-size: 25px;
	font-weight: bold;
}

.blue-card-status {
	border-radius: 11px;
	background: #ffffff73;
	width: 134px;
	height: 47px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 16px;
	font-weight: bold;
	color: #a8c33b;
}

.blue-card-middle {
	display: flex;
	justify-content: space-between;
	font-weight: bold;
	margin-bottom: 0.7rem;
}

.blue-card-middle > span {
	color: #455a64;
}

.end-date {
	color: #455a64;
	margin-right: 1rem;
}

.white-card-logo {
	width: 20%;
}

.white-card-head {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-weight: bold;
	font-size: 25px;
	width: 55%;
	margin: auto;
	margin-top: 1rem;
}

.white-card-sub {
	margin-bottom: 0.5rem;
	color: #6c7485;
	font-weight: normal;
	font-size: 16px;
}

.white-card-bottom {
	display: flex;
	justify-content: space-between;
	font-weight: bold;
	margin-top: 1rem;
}

.white-card-bottom > span {
	color: #455a64;
}

.bottom-wrapper {
	margin-top: 2.6rem;
}
