.help-container {
	padding-top: 2rem;
	padding-left: 2rem;
	flex-grow: 100;
	text-align: left;
}

.help-bottom {
	background: #ffffff 0% 0% no-repeat padding-box;
	box-shadow: 0px 5px 12px #f0f2f77c;
	border-radius: 12px;
	padding-left:0;
	padding-top: 2rem;
	padding-bottom: 2rem;
	overflow: hidden;
}

.bottom-right {
	padding-right: 2rem;
	flex-grow: 100;
}

.bottom-right-title {
	font-weight: bold;
	color: #656565;
	font-size: 20px;
	margin-bottom: 0;
}

.bottom-right-desc {
	margin-top: 12px;
	font: normal normal normal 16px/32px Swis721 BT;
	letter-spacing: 0.05px;
	color: #1D2943;
	opacity: 0.5;
	padding-right: 118px;
	line-height: 24px;
}

.bottom-left {
	font-weight: bold;
	cursor: pointer;
	font-size: 18px;
	color: #8e94a1;
	padding-top: 20px;
	padding-left: 39px;
	padding-bottom: 16px;
	width: 241px;
	margin: 0;
	background-color: #F7FAFF;
	border-bottom: 1px solid #EAECF3;
}

.border-top-add{
	border-top: 1px solid #EAECF3;
}

.input-wrapper {
	position: relative;
	width: 83%;
}

.input-wrapper input {
	position: relative;
	width: 100%;
}

.input-wrapper i {
	position: absolute;
	z-index: 4;
	top: 40%;
	left: 25px;
	color: #d4d4d4;
}

.bottom-left-active {
	white-space: nowrap;
	color: #1d2943;
	border-left: 5px solid #53A8F0;
}

.help-head {
	color: #1d2943;
	font-size: 35px;
	font-weight: bold;
}

.help-input {
	width: 83%;
	padding-left: 3rem;
	background: #ffffff 0% 0% no-repeat padding-box;
	border: 2px solid #f3f3f3;
	border-radius: 12px;
	height: 70px;
	outline: none;
}

.help-search {
	width: 15%;
	height: 70px;
	background: #53a8f0 0% 0% no-repeat padding-box;
	border-radius: 12px;
	border: none;
	color: white;
	font-weight: bold;
}

.vertical-line {
	border-left: 2px solid #dddfe2;
	height: 500px;
	margin-right: 2rem;
	margin-left: 0;
}

@media (max-width: 768px) {
	.help-container {
		padding: 0;
		width: 100%;
	}

	.help-head {
		font-size: 28px;
	}

	.help-search {
		display: none;
	}

	.input-wrapper {
		width: 100%;
	}

	.help-input {
		height: 46px;
	}
}
