.container-open {
	/* position: absolute; */
	animation-name: container-open;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	z-index: -1;
}

.container-close {
	/* position: absolute; */
	animation-name: container-close;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	z-index: -1;
}

@keyframes container-open {
	from {
		/* opacity: 0; */
		transform: translateX(-200px);
	}
	to {
		transform: translateX(0px);
	}
}

@keyframes container-close {
	from {
		/* opacity: 1; */
		transform: translateX(0px);
	}
	to {
		transform: translateX(-200px);
	}
}
