.card-container {
	background: transparent linear-gradient(90deg, #1d2943 0%, #1d2639 100%) 0%
		0% no-repeat padding-box;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.line {
	border-bottom: 2px solid #f3f3f3;
	width: 100%;
	height: 1px;
}

.checkbox {
	color: #5b7ada;
	border: 2px solid #5b7ada;
	margin-right: 0.5rem;
}

.logo {
	width: 15%;
	position: absolute;
	bottom: 0;
	right: 0;
}

.login-card-container {
	width: 33%;
	height: 75%;
	border-radius: 12px;
	background-color: white;
	box-shadow: 0px 0px 80px #0000001f;
	padding: 3rem;
	display: flex;
	flex-direction: column;
	text-align: left;
}

.new-wallet-card-container {
	width: 34%;
	height: 80%;
	border-radius: 12px;
	background-color: white;
	box-shadow: 0px 0px 80px #0000001f;
	padding: 3rem;
	padding-top: 1.5rem;
	padding-bottom: 2rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: left;
}

.login-card-logo {
	align-self: center;
	width: 130px;
	margin: 0;
}

.login-card-heading {
	text-align: left;
	font-size: 28px;
	font-weight: bold;
	margin-top: 1.5rem;
}

.newwallet-card-heading {
	text-align: left;
	font-size: 26px;
	font-weight: bold;
	margin-top: 1.5rem;
}

.login-card-label {
	font-size: 16px;
	font-weight: bold;
	color: #455a64;
	margin-top: 0.7rem;
}

.newwallet-card-label {
	font-size: 16px;
	font-weight: bold;
	color: #455a64;
	margin-top: 1rem;
}

.login-card-input {
	/* margin-top: 0.4rem; */
	border: 2px solid #f3f3f3;
	padding-left: 2rem;
	padding-right: 2rem;
	border-radius: 10px;
	height: 70px;
	font-size: 14px;
	font-weight: bold;
	outline: none;
	color: #1d2943;
}

.login-card-forgot-wallet {
	margin-top: 1rem;
	font-size: 14px;
	color: #1d2943;
}

.login-card-forgot-wallet > span {
	margin-left: 0.3rem;
	color: #526daa;
	font-weight: bold;
}

.agree-to-terms {
	margin-top: 1rem;
	font-size: 10px;
	color: #1d2943;
}

.agree-to-terms > span {
	margin-left: 0.3rem;
	color: #526daa;
	font-weight: bold;
}

.login-card-forgot-pass {
	display: flex;
	justify-content: space-between;
	margin-top: 1rem;
	color: #455a64;
	font-weight: bold;
	font-size: 16px;
}

.newwallet-forgot-pass {
	display: flex;
	/* justify-content: space-between; */
	margin-top: 1rem;
	color: #455a64;
	font-weight: bold;
	font-size: 10px;
}

.newwallet-forgot-pass > span {
	font-weight: normal;
	font-size: 12px;
	color: #526daa;
	margin-left: 0.3rem;
	margin-right: 0.3rem;
}

.login-card-forgot-pass > span {
	font-weight: normal;
	font-size: 16px;
	color: #526daa;
}

.login-btn {
	border-radius: 10px;
	background-color: #53a8f0;
	color: white;
	font-size: 16px;
	font-weight: bold;
	outline: none;
	border: none;
	height: 70px;
	margin-top: 1rem;
	width: 100%;
}

.btn-orange {
	border-radius: 10px;
	background-color: #df642b;
	color: white;
	font-size: 20px;
	font-weight: bold;
	outline: none;
	border: none;
	height: 70px;
	margin-top: 1rem;
	width: 100%;
}

.login-card-signup {
	display: flex;
	justify-content: space-between;
	margin-top: 1rem;
	color: #526daa;
	font-size: 16px;
	font-weight: bold;
}

.login-card-no-wallet {
	color: white;
	font-size: 20px;
	margin-top: 1.5rem;
}

.login-card-no-wallet > span {
	font-weight: bold;
}

.wallet-exchange-logo {
	width: 156.1px;
}

.buy-sell-store {
	font-size: 44px;
	color: white;
	font-weight: bold;
	margin-top: 2rem;
}

.get-started {
	font-size: 33px;
	color: white;
	font-weight: bold;
	margin-top: 1rem;
}

.cards-container {
	margin-top: 4rem;
	display: flex;
	justify-content: space-between;
	width: 1150px;
}

.wallet-exchange-card {
	text-align: left;
	background: white;
	width: 546px;
	height: 431px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	border-radius: 12px;
	padding: 3rem;
}

.wallet-exchange-card > p {
	font-size: 20px;
	color: #6f7787;
	margin-top: 1rem;
}

.wallet-exchange-head {
	color: #1d2943;
	font-weight: bold;
	font-size: 35px;
}

.be-your-own {
	font-size: 20px;
	font-weight: bold;
	color: #1d2943;
	margin-top: 1rem;
}
