.swaping-container {
	max-width: 1047px;
	display: flex;
	flex-wrap: wrap;
	margin: auto;
	justify-content: center;
}

.flex-container{
	max-width: 1047px;
	display: inline-flex;
	justify-content: space-between;
}

.change-line{
	flex: 100%;
}

.block-container {
	flex: 40%;
}

.mobile-bottom-info{
	flex: 100%;
}

.container-img{
	width: 21px;
	height: 34px;
	opacity: 1;
	vertical-align: middle;
}
.inner-container{
	padding: 37px 34px;
}
.inner-title{
	color: white;
	font-size: 25px;
	padding-left: 8px;
	font-weight: bold;
	display: inline;
	vertical-align: middle;
}

.between-container {
	flex: 30%;
}

.center-button {
	width: 56px;
	height: 56px;	
	background: #FAFBFE 0% 0% no-repeat padding-box;
	border: 1px solid #DBDBDB;
	opacity: 1;
	margin: auto;
	margin-top: 97px;
	border-radius: 50%;
	font-size: 18px;
	color: #3D9CD6;
	line-height: 56px;
	text-align: center;
	letter-spacing: 5px;
	padding-left: 5px;
	cursor: pointer;
}

.header-text {
	text-align: left;
	font-size: 25px;
	font-weight: bold;
	letter-spacing: 0.5px;
	color: #455A64;
}

.bottom-header {
	margin-top: 15px;
	text-align: left;
	font-size: 16px;
	font-weight: bold;
	letter-spacing: 0.05px;
	color: #1D2943;
	opacity: 0.5;
}

.bottom-text {
	padding: 18.5px 23.5px;
	text-align: left;
	font-size: 14px;
	font-weight: bold;
	letter-spacing: 0.04px;
	color: #1D2943;
	opacity: 0.5;
}
span.active{
	background: #53A8F0 0% 0% no-repeat padding-box;
	border-radius: 12px;
	opacity: 1;
	color: white;
}
span.lft-margin{
	margin-left: 16px;
}

.block {
	width: 100%;
	border-radius: 25px;
	opacity: 1;
}
.swap-button{
	background: #1D2943 0% 0% no-repeat padding-box;
	border-radius: 12px;
	opacity: 1;
	border: none;
	outline: none;
	color: white;
	font-size: 16px;
	font-weight: bold;
	letter-spacing: 0px;
	width: 347px;
	height: 63px;
	margin: auto;
	margin-top: 20px;
}

.right-side-btn{
	float: right;
	width: 38px;
	height: 34px;
	background: #FFFFFF 0% 0% no-repeat padding-box;
	border-radius: 9px;
	border: none;
	color: #526DAA;
}
.info{
	padding-left: 24px;
	margin-top: 23px;
	font-size:20px;
	color: white;
}
.info span{
	padding-left: 10px;
	font-size: 16px;
	color: white;
	opacity: 0.59;
}

.spinner-button{
	position: relative;
	margin-left: 12px;
	color: #526DAA;
}
.spinner-up{
	height: 40%;
	position: absolute;
	display: block;
	top: -3px;
}
.spinner-down{
	height: 40%;
	position: absolute;
	display: block;
	bottom: -1px;
}

@media (min-width: 1280px) {
	.block-container{
		width: 429px;
	}
	.between-container{
		width: 237px;
	}
	.mobile-bottom-info{
		display: none;
	}
}

@media (max-width: 1280px){
	.info span{
		display: block;
		width: max-content;
		padding-left: 0;
	}
	.inner-container{
		padding: 15px 12px;
	}
	.flex-container{
		width: 100%;
	}
	.web-bottom-info{
		display: none;
	}
}

@media (max-width: 768px){
	.center-button{
		margin-top: 80px;
	}
	.header-text{
		font-size: 14px;
	}
	.info span{
		font-size: 10px;
	}
	.container-img{
		width: 13px;
		height: 21px;
	}
	.inner-title{
		font-size: 15px;
	}
	.block{
		border-radius: 19px;
	}
	.right-side-btn{
		width: 15px;
		height: 15px;
		border-radius: 5px;
		position: relative;
	}
	.right-side-btn i{
		font-size: 10px;
		width: 5px;
		height: 4px;
		top: 3.5px;
		left: 4.5px;
		margin: auto;
		position: absolute;
		display: block;
	}
	.info{
		font-size: 12px;
	}
	.center-button{
		width: 22px;
		height: 22px;
		font-size: 7px;
		line-height: 21px;
		text-align: center;
		letter-spacing: 2px;
		padding-left: 2px;
	}
	.bottom-header{
		font-size: 14px;
	}
	.bottom-text{
		font-size: 12px;
		padding: 14.5px 19.5px;
	}
	span.lft-margin{
		margin-left: 6px;
	}
}