.navbar-container {
	box-shadow: 0px 5px 12px #f0f2f77c;
}

.inner-nav {
	width: 444px;
	text-align: left;
	margin-right: 3rem;
}

.brand {
	cursor: pointer;
}

.nav-right {
	margin: auto;
	margin-right: 0;
}

.logo {
	width: 21.8%;
	text-align: left;
}

.navbar-links {
	color: white;
	text-decoration: none;
	margin-right: 2rem;
	margin-left: 0.3rem;
}

.dropdown {
	color: white;
	cursor: pointer;
	position: relative;
	text-align: start;
	font-weight: bold;
}

.inner-div {
	display: flex;
	align-items: center;
}

.outer-div {
	display: flex;
	width: 60%;
	font-weight: bold;
}

.navbar-nav > li {
	float: left;
	position: relative;
}
.navbar-light .navbar-nav .active a::after {
	border-bottom: 5px solid #df642b;
	bottom: -10px;
	content: " ";
	left: 0;
	position: absolute;
	right: 0;
}
