.navbar-container {
	display: flex;
	background-color: #4c566c;
	/* justify-content: space-between; */
	padding-left: 2rem;
	padding-right: 2rem;
	padding-top: 1.2rem;
	padding-bottom: 1.2rem;
	align-items: center;
}

.logo {
	width: 21.8%;
	text-align: left;
}

.navbar-links {
	color: white;
	text-decoration: none;
	margin-right: 2rem;
	margin-left: 0.3rem;
}

.dropdown {
	color: white;
	cursor: pointer;
	position: relative;
	text-align: start;
	font-weight: bold;
}

.inner-div {
	display: flex;
	align-items: center;
}

.outer-div {
	display: flex;
	width: 60%;
	font-weight: bold;
}
