.navbar-container {
	box-shadow: 0px 5px 12px #f0f2f77c;
	position: relative;
}

.inner-nav {
	width: 400px;
	text-align: left;
	margin-right: 3rem;
}

.brand {
	cursor: pointer;
}

.nav-right {
	margin: auto;
	margin-right: 0;
}

.logo {
	width: 21.8%;
	text-align: left;
}

.navbar-links {
	color: white;
	text-decoration: none;
	margin-right: 2rem;
	margin-left: 0.3rem;
}

.dropdown {
	color: white;
	cursor: pointer;
	position: relative;
	text-align: start;
	font-weight: bold;
}

.inner-div {
	display: flex;
	align-items: center;
}

.outer-div {
	display: flex;
	width: 60%;
	font-weight: bold;
}

.navbar-nav > li {
	float: left;
	position: relative;
}
.navbar-light .navbar-nav .active a::after {
	border-bottom: 5px solid #df642b;
	bottom: -25px;
	content: " ";
	left: 0;
	position: absolute;
	right: 0;
}

.caret-color {
	color: #53a8f0;
	transform: scale(1.5);
}

.connect-wallet-btn {
	height: 61px;
	background: transparent linear-gradient(180deg, #53a8f0 0%, #2d7fc4 100%) 0%
		0% no-repeat padding-box;
	border-radius: 12px;
	outline: none;
	border: none;
	padding-left: 1rem;
	padding-right: 1rem;
	color: white;
	font-weight: bold;
}
