.layout-container {
	position: relative;
}

.sidebar-desktop {
	z-index: 2;
}

.sidebar-mobile {
	display: none;
}

@media (max-width: 768px) {
	.sidebar-desktop {
		display: none;
	}

	.sidebar-mobile {
		display: block;
		z-index: 2;
	}
}
