.listHeadContainer {
	cursor: pointer;
	background-color: #53a8f0;
}

.listHeadTitleStyle {
	color: white;
	font-size: 14px;
}

.headIcon {
	width: 20px;
	height: 20px;
}

.icon {
	width: 17px;
	height: 17px;
}

.title {
	font-size: 11px;
	color: #4c566c;
}

.desc {
	font-size: 11px;
	color: #a7abb6;
}

.list-container {
	margin-left: 1.5rem;
	margin-top: 0.5rem;
}

.list-head {
	display: flex;
	align-items: center;
	cursor: pointer;
}

.list-title {
	font-weight: bold;
	margin-left: 0.5rem;
	color: #ec681c;
	font-size: 16px;
}

.caret {
	margin-left: 1rem;
}

.sublist {
	text-align: left;
	margin-left: 1rem;
}

.subsublist {
	text-align: left;
	margin-left: 2rem;
}

.sublist-item {
	margin-bottom: 1rem;
	display: grid;
	grid-template-columns: 0.2fr 0.4fr 1fr;
	cursor: pointer;
}

.item-title {
	/* margin-left: 1rem; */
	text-align: left;
}

.item-desc {
	/* margin-left: 2rem; */
	white-space: pre;
}

.sub-active {
	outline: none;
	border: none;
	width: 100%;
	background-color: white;
	border-left: 5px solid white;
}

.sub-menu-active {
	background-color: #f0f2f8;
	outline: none;
	box-sizing: border-box;
	border-left: 5px solid #53a8f0;
	padding-left: -5px;
}

.pointer {
	cursor: pointer;
}
