.sidebar-container {
	width: 21%;
	padding-left: 2rem;
	padding-top: 2rem;
	border-right: 1px solid #dbdbdb;
	/* min-height: 85vh; */
	height: 100%;
}

.balance {
	color: #6e6e6e;
	font-size: 20px;
}

.balance-details {
	font-size: 25px;
	font-weight: bold;
	display: flex;
	align-items: center;
}

.top-div {
	text-align: left;
}
