.sidebar-container {
	z-index: 3;
}

.balanceStyle {
	color: #8e94a1;
	font-size: 16px;
}

.balanceAmount {
	font-size: 16px;
}

.innerContainer {
	width: 90%;
	margin: auto;
	z-index: 3;
	background-color: white;
	border-radius: 12px;
}

.addWallet {
	color: #526daa;
	font-size: 14px;
}

.addSquare {
	color: #526daa;
	transform: scale(1.7);
}

@keyframes close-sidebar {
	from {
		transform: translateX(0);
		width: 300px;
	}
	to {
		transform: translateX(-500px);
		width: 0px;
		height: 0;
	}
}

@keyframes open-sidebar {
	from {
		transform: translateX(-500px);
		width: 0px;
	}
	to {
		transform: translateX(0);
		width: 300px;
	}
}

.sidebar-open {
	animation-name: open-sidebar;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	overflow: hidden;
}

.sidebar-close {
	animation-name: close-sidebar;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	overflow: hidden;
}

.balance {
	color: #6e6e6e;
	font-size: 20px;
}

.balance-details {
	font-size: 25px;
	font-weight: bold;
	display: flex;
	align-items: center;
}

.top-div {
	text-align: left;
}
