.dashboard-container {
	padding-left: 2rem;
	padding-top: 2rem;
	font-size: 14px;
	width: 58%;
}

.top-section {
	text-align: left;
	display: flex;
	align-items: center;
}

.title {
	margin-left: 1rem;
}

.edit {
	margin-left: 1rem;
}
.key {
	margin-left: 1rem;
}

.graph {
	display: flex;
	text-align: left;
	margin-top: 1rem;
	border: 0.5px solid #dfe3eb;
	border-radius: 5px;
	padding-left: 1rem;
}

.btn-grp {
	display: flex;
	margin-top: 2rem;
	justify-content: space-between;
}

.btn {
	/* margin-right: 2rem; */
	background-color: #4c566c;
	border: 1px solid #4c566c;
	width: 148px;
	height: 46px;
	color: white;
	font-size: 14px;
	border-radius: 7px;
	font-family: "Inter", sans-serif;
}

.large-btn {
	margin-top: 2rem;
	width: 100%;
	background-color: #4c566c;
	color: white;
	height: 35px;
	border-radius: 7px;
	font-size: 14px;
	border: none;
	margin-top: 10rem;
	font-family: "Inter", sans-serif;
}

.load-transaction {
	margin-top: 4rem;
}
