.settings-container {
	padding-right: 1rem;
	flex-grow: 100;
	width: 100%;
}

.settings-line {
	position: absolute;
	margin-left: -50px;
	width: 100%;
}

.settings-bottom {
	position: relative;
	padding-top: 2rem;
	border-radius: 12px;
	box-shadow: 0px 5px 12px #f0f2f77c;
	background: white;
	padding-left: 3rem;

	/* min-height: 820.5px; */
}

.settings-head {
	color: #1d2943;
	font-weight: bold;
	font-size: 28px;
}

.settings-tab {
	color: #9ea3ae;
	font-weight: bold;
	font-size: 15px;
	cursor: pointer;
	/* width: 100%; */
}

.settings-tab > div {
	margin-right: 2.5rem;
}

.settings-tab-active {
	border-bottom: 5px solid #df642b;
	margin-bottom: -1.5rem;
	color: #1d2943;
}

.general-container {
	width: 100%;
	padding-top: 3rem;
	padding-right: 2rem;
}

.general-container-left {
	width: 55%;
}

.preferences-container-left {
	width: 70%;
}

.general-container-right {
	width: 40%;
	text-align: right;
	color: #1d2943;
	font-weight: bold;
	font-size: 14px;
}

.preferences-container-right {
	width: 25%;
	text-align: right;
	color: #5b7ada;
	font-weight: bold;
	font-size: 18px;
}

.left-head {
	font-size: 18px;
	font-weight: bold;
	color: #1d2943;
	margin-bottom: 1rem;
}

.left-desc {
	color: #1d2943;
	line-height: 28px;
	font-size: 14px;
}

.left-desc > span {
	color: #df642b;
	font-weight: bold;
}

.external-icon {
	color: #53A8F0;
	background-color: #e3ecf4;
	width: 55px;
	height: 40px;
	padding: 1rem;
	border-radius: 9px;
	text-align: center;
	font-size: 18px;
	padding-top: 11px;
}

.password-row-wrapper {
	align-items: center;
	display: flex;
	justify-content: space-between;
	margin: auto;
	margin-top: 2rem;
}

.password-row-label {
	color: #959aaa;
	font-size: 16px;
	font-weight: bold;
	margin-right: 1rem;
	text-align: right;
}

.password-row-input {
	width: 703px;
	height: 65px;
	background: #ffffff 0% 0% no-repeat padding-box;
	border: 2px solid #f3f3f3;
	border-radius: 10px;
	outline: none;
	padding-left: 1rem;
	font-weight: bold;
}

.password-btn {
	border-radius: 12px;
	background: #53a8f0;
	color: white;
	font-weight: bold;
	/* width: 197px; */
	padding-left: 3rem;
	padding-right: 3rem;
	height: 55px;
	border: none;
	margin-left: 10rem;
}

.profile-container {
	padding-top: 5rem;
	padding-right: 2rem;
}

.profile-img {
	width: 15%;
}

.profile-head {
	display: flex;
	justify-content: space-between;
}

.profile-left {
	width: 50%;
	display: flex;
	align-items: center;
}

.profile-name {
	font-size: 28px;
	font-weight: bold;
	color: #1d2943;
}

.update-picture {
	font-size: 18px;
	color: #5b7ada;
}

.save-changes {
	height: 55px;
	background: #53a8f0 0% 0% no-repeat padding-box;
	border-radius: 12px;
	color: wheat;
	font-weight: bold;
	padding-left: 2rem;
	padding-right: 2rem;
	border: none;
	outline: none;
}

.profile-label {
	color: #959aaa;
	font-weight: bold;
	font-size: 16px;
}

.profile-input {
	background: #ffffff 0% 0% no-repeat padding-box;
	border: 2px solid #f3f3f3;
	border-radius: 10px;
	height: 55px;
	padding-left: 1rem;
	width: 100%;
	outline: none;
	font-weight: bold;
}

.profile-dropdown-select {
	padding-left: 1rem;
	width: 100%;
}

.profile-calendar-input {
	border: none;
	outline: none;
	font-weight: bold;
}

.calendar-icon {
	color: #526daa;
}

.dropdown-toggle::after {
	display: none;
}

.caret-dropdown {
	color: #526daa;
}

.checboxes-container {
	color: #1d2943;
	font-weight: normal;
}

.kyc-container {
	padding-top: 5rem;
	padding-right: 2rem;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.panel-head {
	color: #1d2943;
	font-size: 20px;
	font-weight: bold;
}

.panel-desc {
	color: #9d9d9d;
	font-size: 12px;
	margin-bottom: 2rem;
}

.panel-radio-label {
	font-size: 16px;
	color: #1d2943;
}

.panel-radio {
	color: #5b7ada;
}

.panel-drag-area {
	background: #ffffff 0% 0% no-repeat padding-box;
	border: 2px solid #f3f3f3;
	border-radius: 10px;
	padding: 2rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.panel-drop-location {
	width: 48%;
	height: 285px;
	background: #f9fbff 0% 0% no-repeat padding-box;
	border: 1px dashed #707070;
	border-radius: 10px;
}

.panel-drop-location2 {
	width: 100%;
	height: 285px;
	background: #f9fbff 0% 0% no-repeat padding-box;
	border: 1px dashed #707070;
	border-radius: 10px;
}

.drop-location-title {
	color: #1d2943;
	font-size: 14px;
	font-weight: bold;
}

.panel-upload-btn {
	height: 41px;
	padding-left: 2rem;
	border: none;
	padding-right: 2rem;
	background: #dee6f9 0% 0% no-repeat padding-box;
	border-radius: 7px;
	color: #53a8f0;
	font-size: 14px;
}

.gallery-icon {
	transform: scale(2);
}

.panel-wrapper {
	width: 48%;
}

.general-container-right-mobile {
	display: none;
}

.save-changes-mobile {
	display: none;
}

@media (max-width: 768px) {
	.settings-container {
		padding-right: 0;
	}

	.settings-tab {
		font-size: 12px;
		width: 90%;
		margin: auto;
	}

	.settings-line {
		position: absolute;
		margin-left: 0px;
		width: 100%;
	}

	.settings-tab > div {
		margin-right: 0.9rem;
	}

	.settings-head {
		font-size: 25px;
	}

	.settings-bottom {
		padding: 0;
		padding-top: 1rem;
		width: 100%;
		margin: auto;
	}

	.general-container {
		padding-right: 0;
		width: 90%;
		margin: auto;
	}

	.general-container-left {
		width: 90%;
	}

	.general-container-right {
		width: 20%;
	}

	.general-container-right-top {
		display: none;
	}

	.preferences-container-right-top {
		display: none;
	}

	.general-container-right-mobile {
		display: block;
		color: #1d2943;
		font-weight: bold;
		font-size: 12px;
		white-space: nowrap;
	}

	.left-head {
		font-size: 14px;
	}

	.left-desc {
		color: #1d2943;
		line-height: 22px;
		font-size: 11px;
	}

	.profile-container {
		padding-top: 4rem;
		padding-right: 0;
		width: 90%;
		margin: auto;
	}

	.profile-left {
		width: 100%;
	}

	.profile-name {
		font-size: 18px;
	}

	.update-picture {
		font-size: 14px;
	}

	.profile-img {
		width: 18%;
	}

	.save-changes {
		display: none;
	}

	.profile-label {
		font-size: 11px;
	}

	.profile-input {
		height: 46px;
		font-size: 13px;
	}

	.save-changes-mobile {
		background: #53a8f0 0% 0% no-repeat padding-box;
		border-radius: 10px;
		height: 46px;
		width: 100%;
		color: white;
		font-weight: bold;
		border: none;
		font-size: 13px;
	}

	.password-container {
		width: 90%;
		margin: auto;
	}

	.password-row-wrapper {
		align-items: flex-start;
		display: flex;
		flex-direction: column;
		margin: auto;
		margin-top: 2rem;
	}

	.password-row-input {
		width: 100%;
		height: 46px;
		padding-left: 1rem;
		font-size: 11px;
	}

	.password-row-label {
		font-size: 11px;
	}

	.password-btn {
		height: 46px;
		width: 100%;
		margin-left: 0;
		font-size: 13px;
	}

	.preferences-container-right {
		width: 70%;
		text-align: right;
		color: #5b7ada;
		font-weight: bold;
		font-size: 18px;
	}

	.preferences-container-left {
		width: 100%;
	}

	.kyc-container {
		flex-direction: column;
		padding-top: 3rem;
		width: 90%;
		margin: auto;
		padding-right: 0;
	}

	.panel-wrapper {
		width: 100%;
	}

	.panel-drag-area {
		background: #ffffff 0% 0% no-repeat padding-box;
		border: 2px solid #f3f3f3;
		border-radius: 10px;
		padding: 1rem;
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-direction: column;
	}

	.panel-drop-location {
		width: 100%;
		margin-bottom: 1rem;
		background: #f9fbff 0% 0% no-repeat padding-box;
		border: 1px dashed #707070;
		border-radius: 10px;
	}

	.panel-head {
		font-size: 14px;
	}

	.panel-desc {
		font-size: 11px;
		margin-bottom: 1rem;
		margin-top: 1rem;
	}

	.panel-radio-label {
		font-size: 13px;
	}
}
